*.local.xml
*.pdb
*.sln.cache
*.suo
*.log
*.user
*.dbmdl
*.schemaview
*ReSharper*
*/build
*/Source/*/bin
*/Source/*/obj
*/Tests/*/bin
*/Tests/*/obj
*/Schema/*/sql
*/Schema/*/obj
*/Source/CommonAssemblyInfo.cs
*/Templates/ArcWizard/ArcWizard/bin
*/Templates/ArcWizard/ArcWizard/obj
